.login-h1 {
    margin-top: 30px !important;
    margin-bottom: 50px;
}

.dashboard-top-mnu {
    margin-bottom: 50px !important;
}

.dashboard-top-user {
    float: right !important;
}

.dashboard-vertical-mnu {
    margin-left: 20px !important;
    margin-bottom: 40px !important;
}

.table-container {
    width: 100%;
    max-height: 70vh;
    overflow: scroll;
}

.logout-btn {
    border-left: 1px solid #ccc !important;
}

.record-control-btn {
    margin-left: 20px !important;
    margin-bottom: 10px !important;
    width: 208px !important;
}

.id-button {
    align-self: center;
}
